{% extends 'base.html' %}

{% block title %}
Home

{% endblock %}


{% block content %}


<div class="container">
<div class="row">


  {% for product in products %}
  <div class="col-sm-3 card">
    <div class="card-img">
      <img class = "w-100" src="{{product.img.url}}" alt="">
    </div>
    <div class="card-body">
      <h6>
        <a href="{% url 'prod_details' product.pk %}">

        {{product.name}}
        </a>
      </h6>
      <p>
        Rs. {{product.price}}
      </p>
      <small class="clamp">
        {{product.desc}}
      </small>
      <a href="{% url 'add_to_cart' product.pk %}" class="btn btn-primary">Add to Cart</a>

    </div>

  </div>
  {% endfor %}
</div>

</div>




{% endblock %}